<div class="container">
  <h1>Edit: {{course.title}}</h1>
  <form action="/courses/edit" method="POST">
    <div class="input-field">
      <input placeholder="name" name="title" id="title" type="text" class="validate" required value="{{course.title}}">
      <label for="title">Course's Name</label>
      <span class="helper-text" data-error="Enter name">Helper text</span>
    </div>
    <div class="input-field ">
      <input placeholder="price" name="price" id="price" type="text" class="validate" required min="1"
        value="{{course.price}}">
      <label for="price">Course's price</label>
      <span class="helper-text" data-error="Enter price">Helper text</span>
    </div>
    <div class="input-field ">
      <input placeholder="img url" name="img" id="img" type="text" class="validate" required value="{{course.img}}">
      <label for="img">Courses's img</label>
      <span class="helper-text" data-error="Enter img's url">Helper text</span>
    </div>
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn btn-primary">Edit course</button>
  </form>
</div>